name: 'Continuous Delivery'

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: cd-${{ github.ref }}
  cancel-in-progress: true

env:
  # 手動実行か否か
  IS_DISPATCH: ${{ contains(fromJSON('["workflow_dispatch"]'), github.event_name) }}

jobs:
  release:
    uses: ./.github/workflows/wc-release.yml
    with:
      gh-app-id: ${{ vars.BOT_APP_ID }}
    secrets:
      gh-app-private-key: ${{ secrets.BOT_PRIVATE_KEY }}

  filter:
    permissions:
      contents: read

    runs-on: ubuntu-24.04
    outputs:
      deploy: ${{ steps.changes.outputs.deploy }}

    steps:
      # https://github.com/marketplace/actions/checkout
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      # https://github.com/marketplace/actions/paths-changes-filter
      - name: Paths Changes Filter
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          filters: |
            deploy:
              - 'apps/**/*'
              - 'packages/**/*'
              - 'package.json'
      - name: Output Needs
        id: needs
        run: |
          echo "deploy=${{ env.IS_DISPATCH == 'true' || steps.changes.outputs.deploy == 'true' }}" >> "$GITHUB_OUTPUT"

  deploy:
    permissions:
      contents: read
      deployments: write

    runs-on: ubuntu-24.04
    needs: filter
    if: needs.filter.outputs.deploy == 'true'

    steps:
      # https://github.com/marketplace/actions/checkout
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      # https://github.com/marketplace/actions/mise-action
      - name: mise action
        uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1

      # https://github.com/marketplace/actions/vercel-action
      - name: Deploy to Vercel
        uses: amondnet/vercel-action@888da851026e0573da056b061931bcb765a915c4 # v41.1.4
        id: vercel
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID }}
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID}}
          vercel-version: "32.6.0"

      - name: Lighthouse
        uses: foo-software/lighthouse-check-action@a80267da2e0244b8a2e457a8575fc47590615852 # v12.0.1
        with:
          gitHubAccessToken: ${{ secrets.GITHUB_TOKEN }}
          urls: ${{ steps.vercel.outputs.preview-url }}
