name: "Pull Request"

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  filter:
    permissions:
      contents: read

    runs-on: ubuntu-24.04
    outputs:
      deploy: ${{ steps.changes.outputs.deploy }}
    steps:
      # https://github.com/marketplace/actions/checkout
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      # https://github.com/marketplace/actions/paths-changes-filter
      - name: Paths Changes Filter
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          filters: |
            deploy:
              - 'apps/**/*'
              - 'packages/**/*'
              - 'package.json'

  deploy:
    permissions:
      contents: read
      deployments: write
      pull-requests: write

    runs-on: ubuntu-24.04
    needs: filter
    if: needs.filter.outputs.deploy == 'true'

    steps:
      # https://github.com/marketplace/actions/checkout
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      # https://github.com/marketplace/actions/mise-action
      - name: mise action
        uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1

      - name: Install deps
        run: bun install

      # https://github.com/marketplace/actions/vercel-action
      - name: Deploy to Vercel
        uses: amondnet/vercel-action@888da851026e0573da056b061931bcb765a915c4 # v41.1.4
        id: vercel
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          github-comment: true
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID }}
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID}}
          vercel-version: "32.6.0"

      - name: Lighthouse
        uses: foo-software/lighthouse-check-action@a80267da2e0244b8a2e457a8575fc47590615852 # v12.0.1
        with:
          gitHubAccessToken: ${{ secrets.GITHUB_TOKEN }}
          urls: ${{ steps.vercel.outputs.preview-url }}
