name: "Pull Request"

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  filter:
    permissions:
      contents: read

    runs-on: ubuntu-24.04
    outputs:
      deploy: ${{ steps.changes.outputs.deploy }}
    steps:
      # https://github.com/marketplace/actions/checkout
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      # https://github.com/marketplace/actions/paths-changes-filter
      - name: Paths Changes Filter
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          filters: |
            deploy:
              - 'apps/**/*'
              - 'packages/**/*'
              - 'package.json'

  deploy:
    permissions:
      contents: read
      deployments: write
      pull-requests: write

    runs-on: ubuntu-24.04
    needs: filter
    if: needs.filter.outputs.deploy == 'true'

    steps:
      # https://github.com/marketplace/actions/checkout
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      # https://github.com/marketplace/actions/mise-action
      - name: mise action
        uses: jdx/mise-action@c37c93293d6b742fc901e1406b8f764f6fb19dac # v2.4.4

      - name: Install deps
        run: bun install

      # https://github.com/marketplace/actions/vercel-action
      - name: Deploy to Vercel
        uses: amondnet/vercel-action@16e87c0a08142b0d0d33b76aeaf20823c381b9b9 # v25.2.0
        id: vercel
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          github-comment: true
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID }}
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID}}
          vercel-version: "32.6.0"

      - name: Lighthouse
        uses: foo-software/lighthouse-check-action@v12.0.1
        with:
          gitHubAccessToken: ${{ secrets.GITHUB_TOKEN }}
          urls: ${{ steps.vercel.outputs.preview-url }}
