name: 'Check Frontend'

on:
  workflow_call:

jobs:
  check-frontend:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      # https://github.com/marketplace/actions/checkout
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      # https://github.com/marketplace/actions/mise-action
      - name: mise action
        uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1

      - name: Create dot env file
        shell: bash
        run: |
          cp .env.sample .env.local

      - name: Clean install using bun
        shell: bash
        run: bun install

      - name: Build
        shell: bash
        run: bun run build
