name: 'Check Frontend'

on:
  workflow_call:

jobs:
  check-frontend:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      # https://github.com/marketplace/actions/checkout
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      # https://github.com/marketplace/actions/mise-action
      - name: mise action
        uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1

      - name: Create dot env file
        shell: bash
        run: |
          cp .env.sample .env.local

      - name: Clean install using bun
        shell: bash
        run: bun install

      - name: Build
        shell: bash
        run: bun run build
