name: "Check for changes in paths"

on:
  workflow_call:
    outputs:
      actions:
        value: ${{ jobs.changed.outputs.actions }}
      codeql:
        value: ${{ jobs.changed.outputs.codeql }}
      frontend:
        value: ${{ jobs.changed.outputs.frontend }}

jobs:
  changed:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      pull-requests: read
    outputs:
      actions: ${{ steps.changes.outputs.actions }}
      codeql: ${{ steps.changes.outputs.codeql }}
      frontend: ${{ steps.changes.outputs.frontend }}
    steps:
      # https://github.com/marketplace/actions/checkout
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      # https://github.com/marketplace/actions/paths-changes-filter
      - name: Paths Changes Filter
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          filters: |
            actions:
              - '.github/workflows/*.yml'
            codeql:
              - 'apps/frontend/**/*'
              - 'packages/**/**/*'
              - 'tooling/**/**/*'
              - 'package.json'
              - '.tool-versions'
            frontend:
              - 'apps/frontend/**/*'
              - 'packages/**/**/*'
              - 'tooling/**/**/*'
              - 'package.json'
              - '.tool-versions'
