name: 'Check Frontend'

on:
  workflow_call:

jobs:
  check-frontend:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      # https://github.com/marketplace/actions/checkout
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      # https://github.com/marketplace/actions/mise-action
      - name: mise action
        uses: jdx/mise-action@c37c93293d6b742fc901e1406b8f764f6fb19dac # v2.4.4

      - name: Create dot env file
        shell: bash
        run: |
          cp .env.sample .env.local

      - name: Clean install using bun
        shell: bash
        run: bun install

      - name: Build
        shell: bash
        run: bun run build
